<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home - SpringBoot Course</title>
</head>

<style>


</style>



<body>
<h1> SpringBoot Course </h1>

<p>  Ver readme para ver una guía completa de los ejemplos</p>



<h2> Algunas vistas</h2>


<ul>


    <a href="/mysql/people"><li> List Person data (Mysql)</li> </a>
    <a href="/mongo/html/people"><li> List Person data (MongoDB)</li> </a>
    <a href="mysql/new/person"> <li> Add Person data (Mysql) </li> </a>
</ul>





</body>
</html>